.App {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.variableEditorView {
  max-width: 600px;
  margin: 5em;
}

.templateView {
  flex: 4;
}

.variableView {
  flex: 1;
}

.viewer {
  flex: 1;
  margin: 1em;
}
